.frame1
{

position:absolute;

background-color:#93b495;
    
padding:0px;
}
.rectangle1
{

position:absolute;
top:0px;
left:68px;
}
.hero
{

left:30%;
top:116px;
position:absolute;
}

.hero-content
{
top:184px;
left:163px;
position:absolute;
}
.text-block-hero/title-body-actionrow/2-line-title
{
background-color:#ffffff;
height:316px;
width:533.3970947265625px;
padding:0px;
left:179px;
top:384px;
position:absolute;
}
.body2
{
color:#161513;
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Palatino;
line-height:30px;
border-style:hidden;
outline:none;
top:145px;
left:0px;
position:absolute;

}
.title2
{
color:#57110e;
text-align:left;
vertical-align:text-top;
font-size:50px;
font-family:Palatino;
letter-spacing:1px;
line-height:66px;
border-style:hidden;
outline:none;
width:533px;
}
.quote
{
color:#57110e;
text-align:center;
vertical-align:text-top;
font-size:20px;
font-family:Palatino;
letter-spacing:1px;
line-height:66px;
border-style:hidden;
outline:none;
width:533px;
}

.bg
{
background-color:#57110e;
height:36px;
width:187px;
border-radius:2px;
}


.oig41
{
height:773px;
width:700px;
left:706px;
top:145px;
position:absolute;
}
.textinput
{
height:74px;
width:460px;
padding:0px;
display:flex;
flex-direction:column;
gap:2px;
border-style:hidden;
outline:none;
top:781px;
left:167px;
position:absolute;
}

.textblock
{
background-color:#f8fafc;
height:48px;
width:460px;
border-radius:4px;
padding:12px;
display:flex;
flex-direction:column;
gap:10px;
top:26px;
position:absolute;
}


._e250b4e5-ce50-4cd8-a8a3-c7e8114c59e5-removebg-preview1
{
height:108px;
width:108px;
left:113px;
top:31px;
position:absolute;
}
._3100a2c4-44cd-43c9-a330-d9e9b334e8b4-removebg-preview1
{
height:139px;
width:139px;
left:62px;
top:46px;
position:absolute;
}
.mc_embed_shell
{
  
    font:14px;
    font-family:Palatino; 
    left:163px;
    top: 650px;
    width: 600px;
    position:absolute;

}




.container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.one {
  width: 15%;
  height: 200px;
  background: red;
  float: left;
}

.two {
  margin-left: 15%;
  height: 200px;
  background: black;
}